.link {
  font-size: 18px;
  color: var(--primary);
  padding: var(--padding-5xs) var(--padding-base);
  text-decoration: none;

  &:hover {
    background-color: var(--light-hover);
  }
}

.activeLink {
  color: var(--primary);
}
