.sideNavOpenner {
  display: grid;
  place-content: center;

  .menuButton {
    padding: 16px 16px 8px 8px;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  @media screen and (width >= 992px) {
    display: none;
  }
}
