.wrapper {
  padding: 72px 0 0;
  display: flex;
  align-items: center;
  height: 100%;
}

.container {
  h1 {
    text-align: center;
    margin-bottom: var(--padding-41xl);
  }
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--padding-base);
  flex-wrap: wrap;

  p,
  b {
    overflow-wrap: anywhere;

    @media screen and (width >= 200px) {
      overflow-wrap: break-word;
    }

    @media screen and (width >= 300px) {
      text-wrap: nowrap;
    }
  }

  > div {
    width: 100%;

    @media screen and (width >= 470px) {
      width: unset;
    }
  }
}

.ctaContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--padding-13xl);
  padding-bottom: var(--padding-base);
}

.directionsButton {
  font-weight: 600 !important;
  padding: var(--padding-base) var(--padding-13xl) !important;
  font-size: var(--font-size-5xl) !important;
}