.wrapper {
  padding: 72px 0 var(--padding-base);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, rgb(255 255 255 / 45%), #fff);
  backdrop-filter: var(--base-blur);
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 var(--padding-base);
  text-align: center;

  h2 {
    font-size: var(--font-size-13xl);
    font-weight: bold;
    color: var(--primary);
    margin-bottom: var(--padding-base);
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: var(--padding-base);
    text-align: left;

    p {
      line-height: 1.8;
      color: var(--color-gray);
      margin: 0;
      font-size: var(--font-size-base);
    }

    .intro {
      font-size: var(--font-size-5xl);
      font-weight: 600;
      color: var(--dark);
      text-align: center;
    }

    strong {
      color: var(--primary);
      font-weight: 600;
    }
  }
}
